.filter {
    max-width: 350px;
    position: sticky;
}

@media screen and (max-width: 768px) {
    .filter {
        max-width: 100%;
    }

    .bikes-result {
        margin-top: 1rem;
        padding: 0;
    }

}

.bikes-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-height: 80vh;
}

.filter-result-container {
    width: min(95%, 1200px);
}